@media (min-width: 200px) and (max-width: 500px) {
  #mainmenu ul {
    display: none;
  }
  #main select {
    width: 90%;
    margin-top: 10px;
  }
}

@media (min-width: 500px) {
  #mainmenu select {
    display: none;
  }
  #mainmenu ul {
    margin-top: 0px;
  }
}

body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0px;
}

#mainmenu {
  background-color: green;
  height: 40px;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #000;
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  width: 80px;
  text-align: center;
}
ul li a {
  color: #fff;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
}

ul li.selected {
  background-color: #fff;
}

ul li.selected a {
  color: #000;
}
